$text-color: #868788;

@import "commons/content";
@import "commons/fonts";
@import "commons/text";
@import "components/footer";
@import "components/messaging";
@import "components/login";

/* Custom scrollbar */
.scroll-y::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
  border-radius: 5px;
}
.scroll-y::-webkit-scrollbar-thumb {
  background-color: $text-color;
  border-radius: 5px;
}
.scroll-y::-webkit-scrollbar-track {
  background-color: transparent;
}

/*
  Pages transition
 */

.page-enter-active {
  animation: acrossIn 0.4s ease-out both;
}
.page-leave-active {
  animation: acrossOut 0.6s ease-in both;
}
@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
