.articlePreview {
  &-title {
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    overflow-wrap: break-word;
    word-break: break-word;
  }

  &-title:hover {
    color: $text-color;
  }

  &-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }

  &-card {
    position: relative;
  }

  &-buttonsHolder {
    border-top: solid 1px $text-color;
    position: absolute;
    bottom: 0;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }

  &-buttonEye {
    float: left;
  }
  &-buttonLike {
    float: right;
  }

  &-buttonLike:hover {
    background-color: rgba(232, 228, 227, 0.7);
    border-radius: 50%;
  }
}

.quill-editor {
  height: 30vh;
}
