.footer {
  background-color: #868788;
  width: 100%;
}

.divider {
  height: 3px;
  color: white;
  margin: auto;
  background: white;
  border-radius: 3px;
  text-align: center;
  width: 15%;

  &-dark {
    color: darkgray;
    background-color: darkgray;
  }

  &-large {
    width: 30% !important;
    border-radius: 6px;
    border: 1px solid transparent;
  }
}
