.home--mobile {
  background-image: url("~assets/images/engagement.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  //background-repeat: repeat;
}

.maintenance {
  background: linear-gradient(95deg, #bed469, rgba(190, 212, 105, 0.65));
  height: 100vh;
  width: 100%;
}
