.searchBox {
  width: 100%;
  border: 1px solid grey;
  background-color: white;
}

.active-conversation {
  background-color: #f3f6f8 !important;
  border-left: 4px solid #4e342e;
}

.aside-conversations {
  border: 1px solid lightgray;
  height: 65vh;

  &-conversation {
    border-bottom: solid 1px lightgray;
    background-color: white;
    cursor: pointer;
  }

  &-conversation:hover {
    background-color: #f3f6f8;
  }
}
.messaging-full {
  margin: auto;
}

.messaging-aside {
  border-right: lightgreen solid 1px;
  border-top: lightgreen solid 1px;
  border-radius: 3px;
}

.conversation {
  &-message-holder {
    display: block;
    position: relative;
    overflow-y: auto;
    width: 100%;
  }

  &-normal {
    height: 60vh;
  }

  &-small {
    min-height: 20vh;
    max-height: 35vh;
  }

  &-scrollButtonWrapper {
    z-index: 10;
    right: 10%;
    bottom: 8%;
    top: 8%;
    position: -webkit-sticky;
    position: sticky;
  }

  &-scrollButton {
    position: absolute;
    right: 10%;

    &--top {
      bottom: 0;
      top: 10%;
    }

    &--bottom {
      top: 0;
      bottom: 10%;
    }
  }
}

.message {
  border-radius: 6px;

  &-shrinkContent {
    display: block;
    width: fit-content;
    max-width: 100%;
  }
}

.sendbox {
  background-color: white;
  border-radius: 6px;
  border: solid 1px navajowhite;
  display: block;
  min-height: 30px;
  max-height: 90px;
  max-width: 100%;
}

.floating-conversations {
  &-container {
    position: fixed;
    left: 5%;
    bottom: 0;
    width: 90%;
    margin: auto;
    color: white;
    z-index: 100;
  }

  &-holder {
    background-color: rgba(241, 245, 242, 0.5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 10px;
    position: relative;
  }

  &-holder2 {
    position: absolute;
    bottom: 15%;
    width: 100%;
  }
}

// test
