.pharmacists {
  &-holder {
    border: solid 1px grey;
    border-radius: 4px;
    max-height: 60vh;
    min-height: 5vh;
    overflow-y: auto;
  }

  overflow-y: auto;
  max-height: 60vh;
  min-height: 5vh;
}
