.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &-white {
    background: rgba(255, 255, 255, 0.4);
  }

  &-transparent {
    background-color: rgba(0, 0, 255, 0.5);
  }
}

.content {
  &-center {
    margin: 0 auto;
    text-align: center;
  }

  &-padded {
    width: 80%;
  }

  &-quarterSize {
    min-width: 25%;
    width: 25%;
    max-width: 50%;
  }

  &-commonHeight {
    max-height: 450px;
    min-height: 100px;
  }
}
