.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &-white {
    background: rgba(255, 255, 255, 0.4);
  }

  &-transparent {
    background-color: rgba(0, 0, 255, 0.5);
  }
}

.content {
  &-center {
    margin: 0 auto;
  }

  &-quarterSize {
    width: 25%;
  }
}
