.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &-white {
    background-color: floralwhite;
    opacity: 0.25;
  }

  &-transparent {
    background-color: rgba(0, 0, 255, 0.5);
  }
}
