/*@import url("https://db.onlinewebfonts.com/c/9a7e574c3eda05d71d03345d3f9e268e?family=FuturaLTW01-LightOblique"); */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

/*@font-face {
  font-family: "FuturaLTW01-LightOblique";
  src: url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.eot");
  src: url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/9a7e574c3eda05d71d03345d3f9e268e.svg#FuturaLTW01-LightOblique")
      format("svg");
} */

//@import "../../style/fonts/stylesheet";

@font-face {
  font-family: "futura-light";
  src: url("../style/fonts/futura_light_font-webfont.woff") format("woff");
  src: url("../style/fonts/futura_light_font-webfont.woff2") format("woff2");
  src: url("../style/fonts/futura_light_font-webfont.ttf");
}

@font-face {
  font-family: "Helvetica-bold";
  src: url("./fonts/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica-light";
  src: url("./fonts/Helvetica-Light.ttf");
}
