.text {
  &-futura {
    font-family: futura-light, light, Arial, sans-serif;
  }

  &-content {
    font-family: roboto-thin, roboto, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    color: #000000;
  }

  &--baseColor {
    color: $text-color;
  }

  &--section {
    font: normal normal normal 16px/1.4em roboto-thin, roboto, sans-serif;
    text-align: -moz-center;
    line-height: 1.7em;
  }
}

.title {
  &-main {
    font: normal normal bold 38px/1.4em futura-lt-w01-book, sans-serif;
    font-size: 4vw;
    line-height: 0.9em;
  }

  &-main-rail {
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
    /*@media screen and (min-width: 601px) {
      font-size: 52px;
    } */
    line-height: 0.9em;
    letter-spacing: 0.05em;
    font-family: raleway, sans-serif;
  }

  &-section {
    font-family: raleway, sans-serif;
    font-size: 5vh;
    line-height: 1em;
    font-weight: 900;
  }

  &-section-small {
    font-family: futura-light, light, Arial, sans-serif;
    font-size: 3.2vh;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}
