.text {
  &-underline {
    text-decoration: underline;
  }

  &-breakline {
    word-wrap: break-word;
  }

  &-futura {
    font-family: futura-light, light, Arial, sans-serif !important;
  }

  &-content {
    font-family: "Helvetica-light", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  &--baseColor {
    color: $text-color;
  }

  &--lighthover:hover {
    color: $hover-color;
  }

  &--section {
    font-family: "Helvetica-light", Arial, sans-serif;
    font-size: 14px;
    text-align: -moz-center;
    line-height: 1.7em;
  }

  &--normal {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
  }

  &--tiny {
    font-size: 0.6rem;
  }

  &-no-decoration {
    text-decoration: none;
  }
}

.title {
  font-size: 3.8vw;

  &-main {
    font-family: "Helvetica-bold", sans-serif;
    font-size: 55px;
    line-height: 0.9em;
    // font-weight: 900;
  }

  &-main-rail {
    @media screen and (max-width: 600px) {
      font-size: 28px;
    }
    /*@media screen and (min-width: 601px) {
      font-size: 52px;
    } */
    line-height: 0.9em;
    letter-spacing: 0.05em;
  }

  &-section {
    font-family: "Helvetica-bold", sans-serif;
    font-size: 22px;
    line-height: 1em;
    //font-weight: 900;

    &-small {
      font-family: Helvetica, sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: $text-color;
      letter-spacing: 0.05em;
    }

    &-huge {
      font-family: raleway, sans-serif;
      font-size: 6.6vh;
      line-height: 1em;
      font-weight: 900;
    }
  }
}
